[Unit]
Description=DUSK Rusk

After=network.target
After=create_dusk_info.service

[Service]
Type=simple

Environment="RUST_BACKTRACE=full"
Environment="RUSK_PROFILE_PATH=/opt/dusk/data"

User=dusk
WorkingDirectory=/opt/dusk

ExecStartPre=!/bin/bash -c '/opt/dusk/bin/rusk-recovery-state >> /var/log/rusk_recovery.log'
ExecStartPre=!/bin/bash -c 'chown -R dusk $RUSK_PROFILE_PATH'
ExecStartPre=!/bin/bash -c '/opt/dusk/bin/detect_ips.sh > /opt/dusk/services/rusk.conf.default'

EnvironmentFile=/opt/dusk/services/rusk.conf.default
EnvironmentFile=/opt/dusk/services/rusk.conf.user

ExecStart=/opt/dusk/bin/rusk \
            --config /opt/dusk/conf/rusk.toml \
            --kadcast_bootstrap 64.227.77.24:9000 \
            --kadcast_bootstrap 161.35.67.69:9000

StandardOutput=append:/var/log/rusk.log
StandardError=append:/var/log/rusk.err

[Install]
WantedBy=multi-user.target
